body {}

.footsqueek-logo{


	background-image: url(../images/footsqueek_logo.png);
	background-repeat: no-repeat;
	background-size:contain;
	height:70px;
	margin:10px;
	
}

.top-bar {
	max-height: 140px;
}

.icon-div {
	float: left;
}

.slidr-btns{
	color:white;
margin-top:10px;
	
}

.sidr-btn {
	background-image: url("../images/box-script.png");
	display: block;
	width: 40px;
	height: 60px;
}

.squeeky-home {
	background-image: url(../images/SQ1.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;
}

.squeeky-behaviors {
	background-image: url(../images/SQ2.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 900px;
}

.squeeky-dialog {
	background-image: url(../images/sq9.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;
}

.squeeky-photos {
	background-image: url(../images/sq6.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 900px;
}

.squeeky-settings {
	background-image: url(../images/sq4.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 800px;
}

.squeeky-move {
	background-image: url(../images/sq7.png);
	background-repeat: no-repeat;
	background-size: contain;
	height: 600px;
}

.background {
	margin: 5px;
	padding: 5px;
	background-color: rgba(225, 225, 225, 0.5);
}

.behavior-btn-bar button {
	margin: 5px;
}

.photo-imgs {
	height: 100px;
}

.centre-settings {
	margin: auto;
}

.dialog-bar {
	padding: 5px;
	padding-top: 10px;
}

.inline {
	display: inline;
}

#chore-stage{
	
	min-height:200px;
}