body{

    height:100%;
    width:100%;
}
#container {
    width:100%;

}
#top-bar {

    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: black;
    
    background-color: #FC8407;
    
    
    width:100%;
    height:20px;
    padding-top:5px;
    
    
}



#home{

    background-image: url(../images/SQ1.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin:10%;
    
    height:70%;
    
    
}

.split{

    float: left;
    width: 40%;

}

#side-bar{

    background-color: #FC8407;
    height:100%;
    width:40px;
    display:inline-block;
    vertical-align: top;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: black;

}

#simple-menu{

    background-image: url("../images/box-script.png");
    display:block;
    width:40px;
    height:60px;

}

#robot-status{
    margin-left: 5px;
    height:100px;

}

.main-content{
    
   
    position: absolute;
    top: 0;
    margin-left: 50px;
    margin-top: 40px;
    width: 80%;
    height: 90%;
   
    
}

.main-content img{
    vertical-align: top;
    display:inline;

}

.btn-slidr{

    height:20px;

}

#slidr-btns{

    margin-top:20px;
}

h1{

    font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
    font-size: 20px;

}



#logo-footsqueek{
    
    height:60px;
    width:110px;
    
    background-image: url(../images/footsqueek_logo.png);
    
}